html {
    background-color: white;
}

h1 {
    display: block;
    text-align: center;
    background-color: rgb(255, 228, 196);
}
h2 {
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

article {
    display: inline-block;
    padding: 6px;
    margin: 8px;
}
.introducaoDoSite {
    display: inline-block;
    padding: 4px;
    margin: 5px;
}

.origamisImagem {
    display: block;
    margin: 0px auto;
    height: 200px;
}

span {
    font-style: italic;
    background-color: rgb(207, 179, 145);
}

p {
    font-size: 15px;
    color: black;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.favoritos {
    color: darkblue;
    background-color: rgb(243, 199, 145);
}